input:focus {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
}

.btn-primary {
    background-color: #676df0;
}

.btn-primary:hover {
    background-color: #545be9;
}

.btn-outline-primary {
    border-color: #676df0;
    color: #676df0;
}

.btn-outline-primary:hover {
    background-color: #676df0;
}

/* DataTabel */
.dataTables_wrapper .dataTables_paginate, 
.dataTables_wrapper .dataTables_info, 
.dataTables_wrapper .dataTables_length, 
.dataTables_wrapper .dataTables_filter,
table.dataTable {
    font-size: 14px !important;
}

.dt-container .dt-info {
    font-size: 12px !important;
}